ActionBar {
    color: #ffffff;
}

ActionBar {
    background-color: #0087bf;
}
.action-bar {
    color: #ffffff;
}

.action-bar {
    background-color: #0087bf;
}

.sport-action-bar {
    background-color: #8cc63f;
}
.motoring-action-bar {
    background-color: #f1592a;
}
.property-action-bar {
    background-color: #283891;
}