.blue-background{
     background-color: #30BCFF;
}

.white-background{
     background-color: white;
}

.detailTitle {
    font-family: "Georgia";
    font-size: 20;
    font-weight: bold;
    color: #455b66;
    margin-left: 10;
    margin-top: 10;
    margin-right: 10;
}

.detailDateTitle {
    font-family: "Georgia";
    color: #455b66;
    font-size: 13;
    margin-top: 5;
    margin-left: 10;
    margin-right: 10;
    padding: 2;
}
.detailContent {
    font-size: 15;
    color: #677881;
    margin-top: 20;
    margin-left: 10;
    margin-right: 10;
}
.blue-button {
    horizontal-align: center;
    vertical-align: center;
    margin: 12 0;    
}

.selectedBarItemBottomBorder {
    background-color: #151F2F;
    height: 2;
    vertical-align: bottom;
}
